.header {
  grid-area: header;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.header .header__profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url("../../../../assets/profile-image.jpeg");
  background-position: center center;
  background-size: cover;

  grid-area: profile-picture;
  margin-top: 40px;
  border: 2.5px solid #7F7F7F;
}

.header .header__title {
  font-size: 17.5px;
}

.header .header__title h1 {
  margin-bottom: 0;
}

.header .header__social-networks {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: .7em;
}

.header .header__social-networks .logo {
  padding-right: .5em;
  padding-left: .5em;
}

