.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  color: black;
  font-weight: 600;

  flex-direction: column;
}

.header .header__title,
.header .header__socialnetworks {
  width: 100%;
}

.header,
.header .header__title,
.header .header__socialnetworks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header__title {}

.header .header__title #title {
  font-size: 40px;
}

.header .header__socialnetworks {}

.header .header__socialnetworks #github-logo,
.header .header__socialnetworks #linkedin-logo {}

.header .header__socialnetworks #github-logo {
  margin-right: 5px;
}

.header .header__socialnetworks #linkedin-logo {
  margin-left: 5px;
}


@media (min-width: 1023px) {

  .header {
    flex-direction: row;
  }

  .header .header__title,
  .header .header__socialnetworks {
    width: 50%;
  }
}
