.about__content {
  grid-area: main;

  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding-top: 1em;
}

.about__content p {
  padding-left: 1em;
  padding-right: 1em;
  font-size: 20px;
}

@media (min-width: 1023px) {
  .about__content p {
    width: 50%;
  }
}
