---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';

import {
    SITE_TITLE,
    SITE_HTML_TITLE,
    SITE_DESCRIPTION,
    SITE_EXTERNAL_LINKS
} from '../consts';

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_HTML_TITLE} links={SITE_EXTERNAL_LINKS} />
		<main>
            <h1>Hello, dear guest 🫡 </h1>
			<p>
                If you've made it this far, it's because you want to know more about me. Which I think is pretty cool =). I'm a <strong>passionate software developer</strong> whose main interest is my personal and professional growth (I'm on the right way 🔥). 
			</p>
			<p>
                So far I have worked with companies that have a pretty decent amount of traffic, which is <strong>awesome ❤️</strong> and allows me to further develop my technical skills.
            </p>
            <p>Please be welcome to follow me on <u>github</u> or connect with me on <u>LinkedIn</u> 😉.</p>
		</main>
		<Footer />
        <GoogleAnalytics />
	</body>
</html>
