---
import Link from './Link.astro';
const { title, routes } = Astro.props;

---
<header>
	<h2>{title}</h2>
	<nav>
        {routes.map((route) => (
            <Link
                href={route.pathOrUrl}
                target={route.isLocal? "_self": "_blank"}>
            {route.title}
            </Link>
        ))}
	</nav>
</header>
<style>
	header {
		margin: 0em 0 2em;
	}
	h2 {
		margin: 0.5em 0;
	}
</style>
